@import 'normalize.css';

body {
    background-color: rgb(43, 41, 41);
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    border: 10px solid rgb(23, 136, 102);
    padding: 20px;
    margin: 350px;
    background-color: rgb(124, 126, 46);
}
